name: baby_vpn
description: "A fast, lightweight & modern Xray client for Android."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_v2ray: ^1.2.0 # The core Xray VPN engine
  cupertino_icons: ^1.0.6
  shared_preferences: ^2.2.3
  flutter_spinkit: ^5.2.0 # For loading indicators
  flutter_clipboard_manager: ^2.0.1 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
